:root {
  --white: #f7f8f9;
  --blue: rgba(120, 172, 192, 1);
  --green: rgba(150, 166, 55, 1);
  --pink: rgba(224, 127, 137, 1);
  --pink2: rgb(235, 176, 182);
  --orange: rgb(246, 165, 67);
  --red: rgb(207, 48, 48);
  --yellow: rgb(239, 230, 146);
  --yellow2: rgb(255, 230, 130);
  --black: rgb(0, 0, 0);

  --Linea: rgba(0, 0, 0, 0.543);

  --normaltypo: "Roboto Condensed";
  --specialtypo: "Casanova";
}

/* HEADER */
/* FOTO DE FONDO DE LA CABECERA  */

.fondo-header {
  height: 100vh;
  background-image: url("https://ik.imagekit.io/mariaudiez/rehang-National-Gallery-in-London-1024x638.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.fondo-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.35;
  z-index: 1;
}

.fondo-header > * {
  position: relative;
  z-index: 2;
}
/* MENÚ DE NAVEGACIÓN */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NOMBRE DE LA CIUDAD + INFORMACIÓN A LA IZQUIERDA */
.navbar .city a {
  text-decoration: none;
  color: var(--white);
  z-index: 10000;
}

.navbar .city {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--normalTypo);
  font-weight: 100;
  z-index: 10000;
}

/*  efecto underline al hacer hover */
.navbar .city:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
}

/* Botón menú hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 100;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 1px;
  background-color: var(--white);
  transition: all 0.3s;
}

/* ESTRUCTURA APARTADOS MENÚ DE NAVEGACIÓN */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* diseño de cada uno de ellos */
.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
  font-family: var(--normalTypo);
  font-weight: 100;
}

/* efectos hover */
.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
}

/* AÑADIMOS EL LOGOTIPO DE LA WEB */
.logo {
  width: 100%;
  z-index: 100;
  padding-top: 10%;
}
.logo img {
  width: 100%;
}

/* TÍTULOS */
h1 {
  font-family: "Casanova Serif Display", serif;
  font-weight: 10;
  font-size: 8rem;
  margin-top: 0px;
  margin-left: 100px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.invertido {
  text-align: right;
  margin-right: 100px;
  margin-bottom: 10px; /* o el valor exacto que quieres */
}

h2 {
  font-family: "Bodoni Moda", serif;
  font-weight: 100;
  font-size: 3rem;
  margin-top: 10px;
  margin-left: 100px;
}

h3 {
  font-family: var(--normalTypo);
  font-weight: 100;
  font-size: 3rem;
  text-align: right;
  margin-top: -25px;
  margin-right: 100px;
}

.invertido-dos {
  text-align: left;
  margin-left: 100px;
  margin-bottom: 10px;
}

/* MUSEOS */

.museum-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 40px 20px;
  padding-bottom: 40px;
  margin-bottom: 7%;
}

/* TARJETA */
.museum-card {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 0px;
  cursor: pointer;
}

/* IMAGEN */
.museum-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* OVERLAY */
.museum-info {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  color: var(--white);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.35s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

/* HOVER */
.museum-card:hover img {
  transform: scale(1.08);
}
.museum-card:hover .museum-info {
  opacity: 1;
  transform: translateY(0);
}

/* TÍTULO ARRIBA IZQUIERDA */
.museum-title {
  font-size: 20px;
  font-family: var(--specialtypo);
  margin: 0;
  text-align: left;
}

/* WEB CENTRADA Y CLICABLE */
.museum-link {
  font-size: 15px;
  text-align: center;
  color: var(--white);
  text-decoration: underline;
  opacity: 0.9;
  font-family: var(--normaltypo);
}
.museum-link:hover {
  opacity: 1;
}

/* DIRECCIÓN ABAJO DERECHA */
.museum-address {
  font-size: 13px;
  margin: 0;
  text-align: right;
  opacity: 0.85;
  font-family: var(--normaltypo);
}

/* GALERIAS */

/* GRID */
.gallery-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  gap: 40px;
  padding: 40px 20px;

  grid-template-columns: repeat(4, 1fr);
}

/* TARJETA */
.gallery-card {
  background: white;

  border-radius: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease; /* efecto ampliado */
  cursor: pointer;
}

.gallery-card:hover {
  transform: scale(1.05); /* se amplia */
  transition: transform 0.3s ease;
}

/* IMAGEN */
.gallery-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.gallery-image-wrapper {
  position: relative;
}

.gallery-name-overlay {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--specialtypo);
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
  transition: 0.3s ease;
}

.gallery-name-overlay:hover {
  text-decoration: underline;
}

/* INFO */
.gallery-content {
  padding: 18px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.gallery-role {
  font-size: 13px;
  font-weight: 600;
  color: var(--black);
  font-family: var(--normaltypo);
}

.gallery-address,
.gallery-phone {
  margin: 0px;
  font-size: 12px;
  color: var(--black);
  font-family: var(--normaltypo);
}

/* LINK */

.gallery-name-link {
  margin-top: 18px;
  margin-left: auto; /* alinear a la derecha */
  font-size: 17px;
  font-weight: 600;
  font-family: var(--normaltypo);
  color: var(--black);
  text-decoration: none;
  position: relative;
}

.gallery-name-ink:hover {
  text-decoration: underline;
}

/* GRAFICA */

.grafico {
  display: flex;
  justify-content: center;
}
.grafico canvas {
  margin: 100px;
}

/* FOOTER */
footer {
  background-color: var(--red);
}

/* MEDIA QUERIS  */

@media screen and (max-width: 1000px) {
  h3 {
    margin-right: 5px;
  }

  .invertido-dos {
    margin-left: 5px;
  }

  .info-museos {
    margin-right: 10px;
    margin-left: 10px;
  }

  .grafico canvas {
    margin: 60px;
  }
}

@media screen and (max-width: 700px) {
  h3 {
    font-size: 2rem;
    margin-top: -15px;
  }

  .grafico canvas {
    margin: 30px;
  }

  .nav-links {
    background-color: var(--colorRosa);
  }
}
