/* GARGAR LAS TIPOGRAFÍAS DE GOOGLEFONT EN EL CSS */

.roboto-condensed-extralight {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Tipografía descargada */

@font-face {
  font-family: "Casanova";
  src: url("../fonts/Casanova Serif Display.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* GENERAMOS LAS VARIABLES CE CSS */

:root {
  --white: #f7f8f9;
  --blue: rgba(120, 172, 192, 1);
  --green: rgba(150, 166, 55, 1);
  --pink: rgba(224, 127, 137, 1);
  --pink2: rgb(235, 176, 182);
  --orange: rgb(246, 165, 67);
  --red: rgb(207, 48, 48);
  --yellow: rgb(239, 230, 146);
  --yellow2: rgb(255, 230, 130);
  --black: rgb(0, 0, 0);

  --Linea: rgba(0, 0, 0, 0.543);

  --normaltypo: "Roboto Condensed";
  --specialtypo: "Casanova";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HEADER */
/* FOTO DE FONDO DE LA CABECERA  */

.fondo-header {
  height: 100vh;
  background-image: url("https://ik.imagekit.io/mariaudiez/foto%20tate%201.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.fondo-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.35;
  z-index: 1;
}

.fondo-header > * {
  position: relative;
  z-index: 2;
}

/* MENÚ DE NAVEGACIÓN */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  position: relative;
}

/* TEXTO IZQUIERDA */
.navbar .city a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
  font-family: var(--normaltypo);
  font-weight: 100;
  z-index: 10000;
}

/* Hover */
.navbar .city:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
  color: var(--white);
}

/* menú hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 4000;
  position: relative;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 1px;
  background-color: var(--white);
  transition: all 0.3s;
}

/* MENÚ PRINCIPAL */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 3000;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
  font-family: var(--normaltypo);
  font-weight: 100;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
}

/* NOMBRE DE LA CIUDAD + INFORMACIÓN A LA IZQUIERDA */

.navbar .city {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--normaltypo);
  font-weight: 100;
  z-index: 10000;
}

/* AÑADIMOS EL LOGOTIPO DE LA WEB */
.logo {
  width: 100%;
  z-index: 100;
  padding-top: 10%;
}
.logo img {
  width: 100%;
}

/* TÍTULOS */
h1 {
  font-family: "Casanova Serif Display", serif;
  font-weight: 10;
  font-size: 8rem;
  margin-top: 0px;
  margin-left: 100px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.invertido {
  text-align: right;
  margin-right: 100px;
}

h2 {
  font-family: "Bodoni Moda", serif;
  font-weight: 100;
  font-size: 3rem;
  margin-top: 10px;
  margin-left: 100px;
}

/* CITY OF ART */

#city-info {
  padding-bottom: 40px;
  padding-top: 0px;
  background-color: var(--pink2);
}

#city-info p {
  overflow: hidden;
  font-family: var(--normaltypo);
  font-weight: 100;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 18px;
}

.carrusel_1 {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 3%;
  margin-left: 100px;
  margin-right: 100px;
}

.carrusel_1 > div {
  position: relative;
  flex: 20%;
  z-index: 0;
  overflow: hidden;
}

.carrusel_1 > div img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 0%;
}

.explicacion_1 {
  display: flex;
  padding-bottom: 2%;
  padding-top: 4%;
  align-items: stretch;
}

.explicacion_1 > p {
  overflow: hidden;
  margin-left: 100px;
  margin-right: 100px;
}

.explicacion_1 > div {
  padding-right: 0%;
  width: 75%;
}

.explicacion_1 > div:first-child {
  display: flex;
  flex-direction: column;
}

.explicacion_1 > div:last-child {
  display: flex;
  padding-right: 100px;
  width: 35%;
}

.explicacion_1 > div:last-child img {
  width: 100%;
  border-radius: 0%;
  object-fit: cover;
  height: auto;
  flex: 1;
}

/* ART DISTRICTS */

#barrios {
  padding-bottom: 40px;
}
.tarjeta_barrio {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
  gap: 20px;
  transition: margin 1s ease;
}

.tarjeta_barrio:hover {
  margin-left: 140px;
}

.barrio-p {
  font-family: var(--normaltypo);
  font-weight: 100;
  font-size: 12px;
}

.barrio-p p:first-child {
  font-size: 1.5rem;
  font-weight: 200;
}

.barrio-img img {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: right;
}

/* CARRUSEL IMAGENES */

#gallery img {
  width: 100%;
  vertical-align: middle;
  height: 500px;
}

#gallery {
  width: 100%;
  margin: 1em auto;
  margin-top: 80px;
  margin-bottom: 50px;
}

#gallery > figure {
  display: none;
  overflow: hidden;
  animation-name: fade;
  animation-duration: 4s;
}

/* STREET ART */

#street_art {
  padding-bottom: 40px;
  background-color: var(--yellow2);
}

.fotos-streetart {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 20px;
}

.streetart {
  width: 30%;
}

.item-street {
  width: 100%;
  height: auto;
  border: none;

  transition: padding 1s ease;
}

.item-street:hover {
  padding: 15px;
}

/* TRANSPORTE */

#transporte {
  padding-bottom: 10px;
}

.transporte-img {
  width: 100%;
  height: 500px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 50px;
}

.info-transporte {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.info-transporte p {
  font-family: var(--normaltypo);
  font-weight: 100;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 18px;
  margin-top: 2%;
  margin-bottom: 80px;
}

/* EVENTS  */

#events {
  padding-bottom: 70px;
  background-color: var(--orange);
}
.fotos-seccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.item {
  width: 30%;
}

.item-image {
  width: 100%;
  height: auto;
  border: none;
}

.item-description {
  display: none;
  margin-top: 10px;
  font-family: var(--normaltypo);
  font-weight: 100;
  font-size: 10px;
}

.item-description p:first-child {
  font-size: 14px;
  font-weight: 300;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* TIPS  */

#tips {
  width: 100%;
}

.tip-seccion {
  width: 75%;
  margin: 40px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.tip-column {
  display: grid;
  gap: 30px;

  grid-auto-rows: 1fr;
}
.tip-column {
  display: grid;
  gap: 30px;

  grid-auto-rows: 1fr;
}

.tips-p {
  font-family: var(--normalTypo);
  font-weight: 100;
  font-size: 12px;

  padding: 20px;
  background: var(--white);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tips-p p:first-child {
  font-size: 1.5rem;
  font-weight: 200;
}

/* colores */

/* Primera Fila (rosita) */
.tip-column:first-child .tips-p:nth-child(1),
.tip-column:last-child .tips-p:nth-child(1) {
  background-color: var(--pink2);
}

/* Segunda Fila (naranja) */
.tip-column:first-child .tips-p:nth-child(2),
.tip-column:last-child .tips-p:nth-child(2) {
  background-color: var(--orange);
}

/* Tercera Fila (amarillo) */
.tip-column:first-child .tips-p:nth-child(3),
.tip-column:last-child .tips-p:nth-child(3) {
  background-color: var(--yellow2);
}

/* Hover */

.tips-p {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.tips-p:hover {
  transform: scale(1.05); /* crece un 5% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* sombra suave */
}

/* FOOTER */
/* MENÚ NAVEGACIÓN FOOTER */
footer {
  background-color: var(--red);
  margin-top: 5%;
}

.navbarfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.navbarfooter .city-footer a {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--normaltypo);
  font-weight: 100;
  color: var(--white);
}

.navbarfooter .city-footer:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
  color: var(--white);
}

.nav-links-footer {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: right;
  margin-right: 30px;
}

.nav-links-footer a {
  text-decoration: none;
  color: var(--white);
  font-size: 10px;
  font-family: var(--normaltypo);
  font-weight: 100;
}

.nav-links-footer a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
}

/* LOGOTIPO FOOTER */
.logo-footer {
  width: 100%;
}
.logo img {
  width: 100%;
  padding: 20px;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
  #city-info p {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 17px;
  }

  .carrusel_1 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .explicacion_1 {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 1000px) {
  h1 {
    margin-left: 5px;
  }

  .invertido {
    margin-right: 5px;
  }

  h2 {
    margin-left: 5px;
  }

  /* Agenda */
  .fotos-seccion {
    margin-left: 0;
    margin-right: 0;
  }

  /* Tranporte // información básica */
  .info-transporte p {
    margin-left: 5px;
    margin-right: 5px;
  }

  /* Streetart */
  .fotos-streetart {
    margin-left: 5px;
    margin-right: 5px;
  }

  .explicacion_1 {
    flex-direction: column;
    gap: 20px;
  }

  .explicacion_1 > div:first-child {
    width: 100%;
  }

  .explicacion_1 > div:last-child {
    width: 100%;
    padding-right: 0;
  }

  .carrusel_1 > div {
    flex: 45%;
  }
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--black);
    height: 400px;
    width: 100%;
    justify-content: end;
    align-items: flex-end;
    gap: 15px;
    z-index: 10;
    padding-bottom: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-right: 20px;
  }

  .nav-links li:last-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background-color: var(--black);
    padding: 20px;
    gap: 15px;
    border-radius: 6px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .nav-links a {
    font-size: 1rem;
    background-color: var(--black);
  }

  #city-info p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }

  .explicacion_1 {
    padding-top: 20px;
  }

  .carrusel_1 {
    margin-left: 20px;
    margin-right: 20px;
    gap: 1.5em;
  }

  .carrusel_1 > div {
    flex: 100%;
  }

  .carrusel_1 > div img {
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  #city-info p {
    font-size: 15px;
    line-height: 1.45;
  }

  .carrusel_1 > div img {
    height: 200px;
  }

  .explicacion_1,
  .carrusel_1 {
    gap: 1em;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .fotos-seccion {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    width: 40%;
  }

  .fotos-streetart {
    flex-wrap: wrap;
    justify-content: center;
  }
  .streetart {
    width: 40%;
  }

  .tarjeta_barrio {
    flex-direction: column;
    margin-left: 5px;
  }

  .tarjeta_barrio:hover {
    margin-left: 55px;
  }

  .barrio-p {
    width: 90%;
  }

  .barrio-img img {
    padding-left: 40px;
    width: 70%;
  }

  .navbarfooter {
    gap: 20px;
  }

  .nav-links-footer {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 500px) {
  .item {
    width: 90%;
  }

  .streetart {
    width: 90%;
  }

  .barrio-p p:last-child {
    display: none;
  }
}
