/* GARGAR LAS TIPOGRAFÍAS DE GOOGLEFONT EN EL CSS */

.roboto-condensed-extralight {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* TIPOGRAFÍA DESCARGADA */
@font-face {
  font-family: "Golften";
  src: url(../fonts/golftendemoregular-bwdx8.otf);
}

/* GENERAMOS LAS VARIABLES CE CSS */

:root {
  --colorAzul: rgba(120, 172, 192, 1);
  --colorVerde: rgba(150, 166, 55, 1);
  --colorRosa: rgba(224, 127, 137, 1);
  --colorBlanco: rgb(255, 255, 255);
  --colorNegro: rgb(0, 0, 0);
  --colorGreen: rgb(0, 128, 0);
  --colorRed: rgb(255, 0, 0);
  --colorLinea: rgba(0, 0, 0, 0.543);
  --marcoFoto: rgba(0, 0, 0, 0.13);
  --normalTypo: "Roboto Condensed";
  --specialTypo: "Golften";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HEADER */
/* FOTO DE FONDO DE LA CABECERA  */

.fondo-header {
  height: 100vh;
  background-image: url("https://ik.imagekit.io/mariaudiez/Art%20Festival/IMG_8861.jpg?updatedAt=1762212944920");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--colorBlanco);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* MENÚ DE NAVEGACIÓN */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NOMBRE DE LA CIUDAD + INFORMACIÓN A LA IZQUIERDA */
.navbar .city a {
  text-decoration: none;
  color: var(--colorBlanco);
  z-index: 10000;
}

.navbar .city {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: var(--normalTypo);
  font-weight: 100;
  z-index: 10000;
}

/*  efecto underline al hacer hover */
.navbar .city:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
}

/* Botón menú hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 100;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 1px;
  background-color: var(--colorBlanco);
  transition: all 0.3s;
}

/* ESTRUCTURA APARTADOS MENÚ DE NAVEGACIÓN */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* diseño de cada uno de ellos */
.nav-links a {
  text-decoration: none;
  color: var(--colorBlanco);
  font-size: 0.9rem;
  font-family: var(--normalTypo);
  font-weight: 100;
}

/* efectos hover */
.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
}

/* AÑADIMOS EL LOGOTIPO DE LA WEB */
.logo {
  width: 100%;
  z-index: 100;
  padding-top: 10%;
}
.logo img {
  width: 100%;
}

/* TÍTULOS */
h1 {
  font-family: var(--specialTypo);
  font-weight: 100;
  font-size: 8rem;
  margin-top: 10px;
  margin-left: 100px;
}

.invertido {
  text-align: right;
  margin-right: 100px;
}

h2 {
  font-family: var(--specialTypo);
  font-weight: 100;
  font-size: 3rem;
  margin-top: 10px;
  margin-left: 100px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--colorLinea);
  margin: -25px 0;
  opacity: 15%;
}

.final-line {
  height: 1px;
  width: 100%;
  background-color: var(--colorLinea);
  margin: 10px 0;
  opacity: 15%;
}

.blog-line {
  height: 1px;
  width: 100%;
  background-color: var(--colorLinea);
  margin: -5px 0;
  opacity: 15%;
}

/* Información general arte en londres */

#city-info {
  padding: 0%;
  padding-bottom: 40px;
}

#city-info p {
  overflow: hidden;
  font-family: var(--normalTypo);
  font-weight: 100;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 14px;
}

.carrusel_1 {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 4%;
  margin-left: 100px;
  margin-right: 100px;
}

.carrusel_1 > div {
  position: relative;
  flex: 20%;
  z-index: 0;
  overflow: hidden;
}

.carrusel_1 > div img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 0%;
}

.explicacion_1 {
  display: flex;
  padding-bottom: 2%;
  padding-top: 4%;
}

.explicacion_1 > p {
  overflow: hidden;
  margin-left: 100px;
  margin-right: 100px;
}

.explicacion_1 > div {
  padding-right: 0%;
  width: 75%;
}

.explicacion_1 > div p {
  padding-top: 50px;
}
.explicacion_1 > div:last-child {
  display: flex;
  padding-right: 100px;
  width: 35%;
}

.explicacion_1 > div:last-child img {
  width: 100%;
  border-radius: 0%;
}

/* Barrios artisticos */

.tarjeta_barrio {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
  gap: 20px;
  transition: margin 1s ease;
}

.tarjeta_barrio:hover {
  margin-left: 160px;
}

.barrio-p {
  font-family: var(--normalTypo);
  font-weight: 100;
  font-size: 12px;
  text-align: justify;
}

.barrio-p p:first-child {
  font-size: 1.5rem;
  font-weight: 200;
}

.barrio-img img {
  width: 50%;
  height: auto;
}

/* AGENDA  */

.fotos-seccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.item {
  width: 30%;
}

.item-image {
  width: 100%;
  height: auto;
  border: none;
  outline: 1px solid var(--marcoFoto);
  outline-offset: 5px;
}

.item-description {
  display: none;
  margin-top: 10px;
  font-family: var(--normalTypo);
  font-weight: 100;
  font-size: 10px;
}

.item-description p:first-child {
  font-size: 14px;
  font-weight: 300;
}

/* SUSCRIPCION

.blog-info {
  font-family: var(--normalTypo);
  font-weight: 100;
  font-size: 1rem;
  padding-top: 20px;
  padding-left: 100px;
} */
*/

/* FORMULARIO
#formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
}

#formulario label {
  font-family: var(--normalTypo);
  font-weight: 200;
  font-size: 16px;
}

/* Estilo base del campo */
input[type="email"] {
  all: unset; /* Elimina todos los estilos predeterminados */
  background-color: var(--colorAzul);
  padding: 5px;
  font-size: 16px;
  font-family: var(--normalTypo);
  font-weight: 100;
  color: var(--colorNegro);
  border: 2px solid var(--colorAzul);
  outline: none;
}

#formulario button {
  all: unset; /* Elimina todos los estilos predeterminados */
  font-family: var(--specialTypo);
  font-weight: 100;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 0.25px;
}

/* Estilo para un correo válido */
input.valid {
  border-color: var(--colorGreen);
}

/* Estilo para un correo inválido */
input.invalid {
  border-color: var(--colorRed);
}

/* Mensaje de error */
.error-message {
  color: var(--colorRed);
  font-family: var(--normalTypo);
  font-weight: 100;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}
*/



/* CARRUSEL IMAGENES */

#gallery img {
  width: 100%;
  vertical-align: middle;
}

#gallery {
  width: 100%;
  margin: 1em auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

#gallery > figure {
  display: none;
  overflow: hidden;
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* TRANSPORTE */

.img-transporte img {
  width: 100%;
  height: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}

.info-transporte {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.info-transporte p {
  font-family: var(--normalTypo);
  font-weight: 100;
  text-align: justify;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 14px;
}

/* STREET ART  */

.fotos-streetart {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 20px;
}

.streetart {
  width: 30%;
}

.item-street {
  width: 100%;
  height: auto;
  border: none;
  outline: 1px solid var(--marcoFoto);
  outline-offset: 5px;
  transition: padding 1s ease;
}

.item-street:hover {
  padding: 15px;
}

/* TIPS  */

/* FOOTER */
/* MENÚ NAVEGACIÓN FOOTER */
footer {
  background-color: var(--colorAzul);
  margin-top: 50px;
}

.navbarfooter {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 30px;
  padding-top: 20px;
}

.navbarfooter .city-footer a {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--normalTypo);
  font-weight: 100;
  color: var(--colorNegro);
}

.navbarfooter .city-footer:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
  color: var(--colorNegro);
}

.nav-links-footer {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links-footer a {
  text-decoration: none;
  color: var(--colorNegro);
  font-size: 10px;
  font-family: var(--normalTypo);
  font-weight: 100;
}

.nav-links-footer a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.25px;
}

/* ICONOS REDES SOCIALES */
.social-media {
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.social-media a {
  color: var(--colorNegro);
  text-decoration: none;
}

/* LOGOTIPO FOOTER */
.logo {
  width: 100%;
}
.logo img {
  width: 100%;
}
